.skills-section {
    padding: 80px 0;
    /* Add desired padding */
    /* Add any additional styles for the skills section */
    background-color: #f8f8f8;
}

.section-title {
    font-size: 36px;
    /* Add desired font size */
    font-weight: bold;
    /* Add desired font weight */
    /* Add any additional styles for the section title */
}

.skills-list {
    list-style-type: disc;
    padding-left: 20px;
    /* Add any additional styles for the skills list */
}

.projects-list {
    list-style-type: circle;
    padding-left: 20px;
    /* Add any additional styles for the projects list */
}

.section-subtitle {
    font-size: 24px;
    /* Add desired font size */
    font-weight: bold;
    /* Add desired font weight */
    margin-top: 30px;
    /* Add desired margin top */
    /* Add any additional styles for the section subtitle */
}